# Archivos y carpetas generados por Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
MemoryCaptures/

# Configuraciones de usuario
UserSettings/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb

# Archivos generados por VS o Rider
.vs/
.idea/
*.DotSettings

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de backup
*.bak
*.old

# Control de versiones local de Unity
/ProjectSettings/EditorBuildSettings.asset
/ProjectSettings/EditorSettings.asset

# Paquetes descargados
Packages/packages-lock.json

# Archivos del entorno de desarrollo
*.log
*.vsconfig
